@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ----- Header ----- */
header {
    background-color: #1F2937;
    padding: 1em 12em;
}

/* ----- Nav ----- */

/* ----- Welcome ----- */

/* ----- Cards ----- */

/* ----- Quote ----- */
.quote {
    background-color: #E5E7EB;
}

/* ----- Sign up ----- */

/* ----- Footer ----- */
footer {
    background-color: #1F2937;
}
